---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
	<!-- Simbolo de la nave espacial y de la luna llena separados -->
	<!-- <h1>SpaceX Launches &nbsp;<span style="font-size: 30px;">&#x1F680;</span> &#x1F318;</h1> -->

	
  </main>
</Layout>

<style>
	
</style>
